/* ===========================
   LOGIN PAGE
=========================== */

.login-page {
    min-height: 100vh;
}


/* Card */

.login-card {
    padding: 45px;
    border-radius: 30px;
    background: rgba(255, 255, 255, .18);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .35);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .7), 0 20px 40px rgba(0, 0, 0, .08);
}


/* Title */

.login-title {
    font-size: 34px;
    font-weight: 700;
    color: #222;
}

.login-subtitle {
    color: #666;
    margin-top: 10px;
}


/* Inputs */

.login-input {
    height: 55px;
    border-radius: 16px !important;
    border: 1px solid rgba(255, 255, 255, .35) !important;
    background: rgba(255, 255, 255, .22) !important;
    backdrop-filter: blur(12px);
    box-shadow: none !important;
}

.login-input:focus {
    border-color: #7C5CFF !important;
    box-shadow: 0 0 0 .2rem rgba(124, 92, 255, .15) !important;
    background: rgba(255, 255, 255, .35) !important;
}


/* Button */

.login-btn {
    height: 55px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    background: linear-gradient( 135deg, #7C5CFF, #B18DFF);
    transition: .35s;
    box-shadow: 0 12px 25px rgba(124, 92, 255, .30);
}

.login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 35px rgba(124, 92, 255, .40);
}


/* Signup */

.signup-link {
    text-decoration: none;
    font-weight: 600;
    color: #7C5CFF;
}

.signup-link:hover {
    color: #5b3ff0;
}