body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #9995d9, #839ed7);
}

.currency-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currency-container {
    width: 450px;
    background: #fff;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .2);
}

.currency-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #1e293b;
}

.currency-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.currency-row label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
}

.input-group {
    display: flex;
    gap: 12px;
}

.input-group input {
    flex: 2;
}

.input-group select {
    flex: 1;
}

.input-group input,
.input-group select {
    padding: 12px;
    border: 1px solid #3d3b3b;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: .3s;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #2563EB;
    box-shadow: 0 0 8px rgba(37, 99, 235, .25);
}

.swap-icon {
    width: 25px;
    height: 25px;
    margin: auto;
    border-radius: 50%;
    background: #2563EB;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    /* margin: 10px; */
}

.swap-icon:hover {
    transform: rotate(180deg);
}

.rate-box {
    background: #eef4ff;
    border-left: 5px solid #2563EB;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.rate-box strong {
    color: #2563EB;
}

@media(max-width:500px) {
    .currency-container {
        width: 92%;
    }
    .input-group {
        flex-direction: column;
    }
}